In [3]:
import pandas as pd
import re
import string

In [2]:
df_all = pd.read_csv("D:/PythonProjects/Data Set3/data.csv")
df_all.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [3]:
df = df_all[["Body", "Label"]].copy()

In [4]:
df.head()

                                                Body  Label
0  Image copyright Getty Images\nOn Sunday mornin...      1
1  LONDON (Reuters) - “Last Flag Flying”, a comed...      1
2  The feud broke into public view last week when...      1
3  MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...      1
4  Country singer Jason Aldean, who was performin...      1

In [5]:
df=df.rename(columns={"Body":"text"})
df.head()

                                                text  Label
0  Image copyright Getty Images\nOn Sunday mornin...      1
1  LONDON (Reuters) - “Last Flag Flying”, a comed...      1
2  The feud broke into public view last week when...      1
3  MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...      1
4  Country singer Jason Aldean, who was performin...      1

In [6]:
df=df.rename(columns={"Label":"status"})
df.head()

                                                text  status
0  Image copyright Getty Images\nOn Sunday mornin...       1
1  LONDON (Reuters) - “Last Flag Flying”, a comed...       1
2  The feud broke into public view last week when...       1
3  MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...       1
4  Country singer Jason Aldean, who was performin...       1

In [1]:
df.to_csv("D:/PythonProjects/Data Set3/All.csv", encoding="UTF-8", index=False)

NameError: name 'df' is not defined

In [4]:
df1=pd.read_csv("D:/PythonProjects/Data Set3/AllSmall.csv")

In [5]:
def wordopt(text):
   
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [7]:
df1["text"] = df1["text"].apply(wordopt)
df1.head()

                                                text  status
0  Image copyright Getty Images On Sunday morning...       1
1  LONDON  Reuters     Last Flag Flying   a comed...       1
2  The feud broke into public view last week when...       1
3  MEXICO CITY  Reuters    Egypt s Cheiron Holdin...       1
4  Country singer Jason Aldean  who was performin...       1