In [1]:
import pandas as pd
import re
import string

In [2]:
df_fake = pd.read_csv("D:/PythonProjects/Data Set2/Fake.csv")
df_true = pd.read_csv("D:/PythonProjects/Data Set2/True.csv")

In [3]:
df_fake.head()

   Unnamed: 0                                               text
0           0  Donald Trump just couldn t wish all Americans ...
1           1  House Intelligence Committee Chairman Devin Nu...
2           2  On Friday, it was revealed that former Milwauk...
3           3  On Christmas day, Donald Trump announced that ...
4           4  Pope Francis used his annual Christmas Day mes...

In [4]:
df_true.head()

   Unnamed: 0                                               text
0           0  The head of a conservative Republican faction ...
1           1  Transgender people will be allowed for the fir...
2           2  The special counsel investigation of links bet...
3           3  Trump campaign adviser George Papadopoulos tol...
4           4  President Donald Trump called on the U.S. Post...

In [5]:
df_fake["Status"]="Fake"
df_fake.head()

   Unnamed: 0                                               text Status
0           0  Donald Trump just couldn t wish all Americans ...   Fake
1           1  House Intelligence Committee Chairman Devin Nu...   Fake
2           2  On Friday, it was revealed that former Milwauk...   Fake
3           3  On Christmas day, Donald Trump announced that ...   Fake
4           4  Pope Francis used his annual Christmas Day mes...   Fake

In [6]:
df_true["Status"]="True"
df_true.head()

   Unnamed: 0                                               text Status
0           0  The head of a conservative Republican faction ...   True
1           1  Transgender people will be allowed for the fir...   True
2           2  The special counsel investigation of links bet...   True
3           3  Trump campaign adviser George Papadopoulos tol...   True
4           4  President Donald Trump called on the U.S. Post...   True

In [7]:
frames=[df_true,df_fake]

df_all=pd.concat(frames)
df_all.head()

   Unnamed: 0                                               text Status
0           0  The head of a conservative Republican faction ...   True
1           1  Transgender people will be allowed for the fir...   True
2           2  The special counsel investigation of links bet...   True
3           3  Trump campaign adviser George Papadopoulos tol...   True
4           4  President Donald Trump called on the U.S. Post...   True

In [8]:
df_all.to_csv("D:/PythonProjects/Data Set2/All.csv", encoding="UTF-8", index=False)

In [9]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [10]:
df_all["text"] = df_all["text"].apply(wordopt)
df_all.head()

AttributeError: 'float' object has no attribute 'lower'

In [ ]:
df=df_all[["text","Status"]].copy()
df.head()

                                                text Status
0  The head of a conservative Republican faction ...   True
1  Transgender people will be allowed for the fir...   True
2  The special counsel investigation of links bet...   True
3  Trump campaign adviser George Papadopoulos tol...   True
4  President Donald Trump called on the U.S. Post...   True

In [ ]:
df["Status"]= df["Status"].replace({"True" : 1})
df["Status"]= df["Status"].replace({"Fake" : 0})
df.head()

                                                text  Status
0  The head of a conservative Republican faction ...       1
1  Transgender people will be allowed for the fir...       1
2  The special counsel investigation of links bet...       1
3  Trump campaign adviser George Papadopoulos tol...       1
4  President Donald Trump called on the U.S. Post...       1

In [ ]:
df=df.rename(columns={"Status":"status"})
df.head()

                                                text  status
0  The head of a conservative Republican faction ...       1
1  Transgender people will be allowed for the fir...       1
2  The special counsel investigation of links bet...       1
3  Trump campaign adviser George Papadopoulos tol...       1
4  President Donald Trump called on the U.S. Post...       1

In [ ]:
df.to_csv("D:/PythonProjects/Data Set2/Clean.csv", encoding="UTF-8", index=False)